# See https://fly.io/docs/reference/configuration/ for information about how to
# use this file.

app = 'experiri'
primary_region = 'ams'

[build]

[http_service]
  internal_port = 8888
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpus = 1
  memory_mb = 512
